# signup and login form OOPS

In [ ]:
class company:
    def __init__(self):
        print("company created")
        self.email=None
        self.password=None
        self.fullname=None
        self.salary=None
        self.designation=None
        self.exp=None

    def signup(self):
        self.email=input("enter your email id")
        self.password=input("enter password")
        self.fullname=input("enter your full Name")
        self.salary==int(input("enter your salary"))
        self.designation=input("enter your designation")
        self.exp=input("enter your experince")

    def login(self):
        login_id=input("enter your login id")
        login_pass=input("enter your login password")
        if login_id == self.email and login_pass==self.password:
            print("Name: ",self.fullname)
            print("Email ID: ", self.email)
            print("Salary: ",self.salary)
            print("Designation: ", self.designation)
            print("Experiance: ", self.exp)
        else:
            print("employee not found")

c=company()
while True:
    choice=input("""
    1. Signup
    2. Login
    """)
    if choice=="1":
        c.signup()
    elif choice=="2":
        c.login()
    elif choice=="3":
        print("Exit")
        break

# SQl connectivity rough work

In [8]:
import mysql.connector
print("connected")

connected

In [10]:
# connect with database
myconn=mysql.connector.connect(user="root",
                        host="localhost",
                       password="system",
                              )
myconn

In [12]:
# create cursor
csr=myconn.cursor()
csr

In [14]:
# create database in commondline sql
csr.execute("CREATE DATABASE IF NOT EXISTS nishant")
print("New Database 'nishant' Created")
csr.close()
myconn.close()

New Database 'nishant' Created

In [16]:
# connect with database
myconn = mysql.connector.connect(
    user="root",
    host="localhost",
    password="system",
    database="nishant"
)
csr = myconn.cursor()

In [18]:
# create table
csr.execute('''
    CREATE TABLE IF NOT EXISTS nk (
        email VARCHAR(255) NOT NULL UNIQUE,
        password VARCHAR(255) NOT NULL,
        fullname VARCHAR(255),
        salary FLOAT,
        designation VARCHAR(255),
        exp INT
    )
''')
myconn.commit()  # Save changes to the database
print("Table 'nk' created now exists in your database.")

Table 'nk' created now exists in your database.

In [22]:
# insert data into data
email = input("Enter your email id: ")
password = input("Enter password: ")
fullname = input("Enter your full Name: ")
salary = float(input("Enter your salary: "))
designation = input("Enter your designation: ")
exp = input("Enter your experience: ")  

csr.execute('''
    INSERT INTO nk (email, password, fullname, salary, designation, exp)
    VALUES (%s, %s, %s, %s, %s, %s)
''', (email, password, fullname, salary, designation, exp))
myconn.commit()

Enter your email id:  nishant@gmail.com
Enter password:  1111
Enter your full Name:  nishant
Enter your salary:  25000
Enter your designation:  da
Enter your experience:  5

In [26]:
# id and password match
login_id = input("Enter your login id: ")
login_pass = input("Enter your login password: ")

# match login id and password with database
csr.execute('''
    SELECT fullname, email, salary, designation, exp 
    FROM nk 
    WHERE email = %s AND password = %s
''', (login_id, login_pass))

# extract data from database table if login details match
user = csr.fetchone() # extact data from database table
if user:
    print("Name: ", user[0])
    print("Email ID: ", user[1])
    print("Salary: ", user[2])
    print("Designation: ", user[3])
    print("Experience: ", user[4])
else:
    print("Employee not found")

Enter your login id:  nishant@gmail.com
Enter your login password:  1111

Name:  nishant
Email ID:  nishant@gmail.com
Salary:  25000.0
Designation:  da
Experience:  5

In [47]:
# delete emp data
csr.execute("delete from empdata where fullname = 'aaradhya' ")
myconn.commit()
print(" emp 'aaradhya' deleted ")

ProgrammingError: 2055: Cursor is not connected

In [30]:
# update emp data
c.execute("Update empdata set fullname= 'nishant kumar' where fullname='nishant' ")
con.commit() 
print(" 'nishant kumar' updated in empdata ")

NameError: name 'c' is not defined

In [32]:
# show all data from database table
csr.execute("SELECT * FROM nk")
data=csr.fetchall()
for i in data:
    print(i)


    
    # print(i[0])
    # print(i[1])
    # print(i[2])
    # print(i[3])
    # print(i[4])
    # print(i[5])
    # print("""..................""")
    # print()

('nishant@gmail.com', '1111', 'nishant', 25000.0, 'da', 5)

In [34]:
# close database
myconn.close()
print("database closed")

database closed

In [36]:
# id and password match
login_id = input("Enter your login id: ")
login_pass = input("Enter your login password: ")

# match login id and password with database
csr.execute('''
    SELECT fullname, email, salary, designation, exp 
    FROM nk 
    WHERE email = %s AND password = %s
''', (login_id, login_pass))

# extract data from database table if login details match
user = csr.fetchone() # extact data from database table
if user:
    print("Name: ", user[0])
    print("Email ID: ", user[1])
    print("Salary: ", user[2])
    print("Designation: ", user[3])
    print("Experience: ", user[4])
else:
    print("Employee not found")

Enter your login id:  nishant@gmail.com
Enter your login password:  1111

ProgrammingError: 2055: Cursor is not connected

# store user login data in existing database

In [ ]:
import mysql.connector

class Company:
    def __init__(self):
        self.database_name=input("Enter Your Database Name")
        self.conn = mysql.connector.connect(
            user="root",
            host="localhost",
            password="system",
            database= self.database_name # create database and to store data
        )
        self.cursor = self.conn.cursor() # 
        self.create_table()

    def create_table(self):
        self.table_name=input("enter table name")
        self.cursor.execute(f'''
            CREATE TABLE IF NOT EXISTS {self.table_name} (email VARCHAR(255) NOT NULL UNIQUE,
                password INT NOT NULL,
                fullname VARCHAR(255),
                salary FLOAT,
                designation VARCHAR(255),
                exp INT
            )
        ''') # create table in database
        self.conn.commit() # save data in database

    def signup(self):
        self.email = input("Enter your email id: ")
        self.password = input("Enter password: ")
        self.fullname = input("Enter your full Name: ")
        self.salary = float(input("Enter your salary: "))
        self.designation = input("Enter your designation: ")
        self.exp = input("Enter your experience: ")      
        self.cursor.execute(f'''
            INSERT INTO {self.table_name} (email, password, fullname, salary, designation, exp)
            VALUES (%s, %s, %s, %s, %s, %s)
        ''', (self.email, self.password, self.fullname, self.salary, self.designation, self.exp)) # inser data into table
        self.conn.commit() # save store data
        print("account create ho gya h...")

    def login(self):
        login_id = input("Enter your login id: ")
        login_pass = input("Enter your login password: ")
        self.cursor.execute(f'''
            SELECT fullname, email, salary, designation, exp 
            FROM {self.table_name} 
            WHERE email = %s AND password = %s
        ''', (login_id, login_pass)) # match login id and password
        print("Login bhi ho gya bhai detail dekh le bhai apni")

        user = self.cursor.fetchone() # extact data from database table
        if user:
            print("Name: ", user[0])
            print("Email ID: ", user[1])
            print("Salary: ", user[2])
            print("Designation: ", user[3])
            print("Experience: ", user[4])
        else:
            print("Employee not found")

    def close_connection(self):
        self.conn.close() # close database

    def all_emp(self):
        self.cursor.execute(f"SELECT * FROM {self.table_name}")
        emp=self.cursor.fetchall() 
        if emp:
            for i in emp:
                print(i)
        else:
            print("Employee data not available")

    def delete_data(self):
        emp_name=input("enter emp name")
        self.cursor.execute(f"delete from {self.table_name} where fullname = %s",(emp_name,))
        self.conn.commit()
        print(f"{emp_name} deleted from table{self.table_name}")


c = Company()
while True:
    choice = input("""
    1. Signup
    2. Login
    3. Show all emp
    4. Delete Employee
    5. Exit
    """)
    if choice == "1":
        c.signup()
    elif choice == "2":
        c.login()
    elif choice == "3":
        c.all_emp()
    elif choice == "4":
        c.delete_data()
    elif choice == "5":
        print("details dekh li ab ghar ja bhai")
        c.close_connection()
        break
    else:
        print("galt number dal dia yrr")

# create database and table from here

In [43]:
import mysql.connector

class Company:
    database_name = input("Enter database name: ")
    def __init__(self):
        self.create_database()
        self.database_name=Company.database_name
        self.conn = mysql.connector.connect(
            user="root",
            host="localhost",
            password="system",
            database=self.database_name  # Now connect to the created database
        )
        self.cursor = self.conn.cursor() 
        self.create_table()


    def create_database(self):
        conn = mysql.connector.connect(
            user="root",
            host="localhost",
            password="system"        ) # connect with sql server
        
        cursor = conn.cursor() # create cursor

        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.database_name}") # create new database in sql
        print("Database created")

        cursor.close()
        conn.close() 

    def create_table(self):
        self.table_name=input("enter table name") 
        self.cursor.execute(f'''
            CREATE TABLE IF NOT EXISTS {self.table_name} (
                email VARCHAR(255) NOT NULL UNIQUE,
                password VARCHAR(255) NOT NULL,
                fullname VARCHAR(255),
                salary FLOAT,
                designation VARCHAR(255),
                exp INT
            )
        ''')  # Create table in database
        self.conn.commit()  # Save changes to the database
        print("Table bhi create ho gya bhai")

    def signup(self):
        self.email = input("Enter your email id: ")
        self.password = input("Enter password: ")
        self.fullname = input("Enter your full Name: ")
        self.salary = float(input("Enter your salary: "))
        self.designation = input("Enter your designation: ")
        self.exp = input("Enter your experience: ")      
        self.cursor.execute(f'''
            INSERT INTO {self.table_name} (email, password, fullname, salary, designation, exp)
            VALUES (%s, %s, %s, %s, %s, %s)
        ''', (self.email, self.password, self.fullname, self.salary, self.designation, self.exp)) # inser data into table
        self.conn.commit() # save store data
        print("account create ho gya h...")

    def login(self):
        login_id = input("Enter your login id: ")
        login_pass = input("Enter your login password: ")
        self.cursor.execute(f'''
            SELECT fullname, email, salary, designation, exp 
            FROM {self.table_name} 
            WHERE email = %s AND password = %s
        ''', (login_id, login_pass)) # match login id and password
        print("Login bhi ho gya bhai detail dekh lo apni")

        user = self.cursor.fetchone() # extact data from database table
        if user:
            print("Name: ", user[0])
            print("Email ID: ", user[1])
            print("Salary: ", user[2])
            print("Designation: ", user[3])
            print("Experience: ", user[4])
        else:
            print("Employee not found")

    def close_connection(self):
        self.conn.close() # close database


    def all_emp(self):
        self.cursor.execute(f"SELECT * FROM {self.table_name}")
        emp=self.cursor.fetchall() 
        if emp:
            for i in emp:
                print(i)
        else:
            print("Employee data not available")

    def delete_data(self):
        emp_name=input("enter emp name")
        self.cursor.execute(f"delete from {self.table_name} where fullname = %s",(emp_name,))
        self.conn.commit()
        print(f"{emp_name} deleted from table{self.table_name}")


    def update_data(self):
        data=input("""
        1. Name
        2. Salary
        3. Designation
        4. Experiance
                """)
        if data =="1":
            new_name=input("enter new name")
            old_name=input("enter old name")            
            self.cursor.execute(f"UPDATE {self.table_name} SET fullname = %s where fullname= %s",(new_name,old_name,))
            self.conn.commit()
            print(f"{new_name} updated in table{self.table_name}")

        elif data =="2":
            new_salary=input("enter salary")
            name=input("enter new name")
            self.cursor.execute(f"UPDATE {self.table_name} SET salary = %s where fullname= %s",(new_salary,name,))
            self.conn.commit()
            print(f"{new_salary} updated in table{self.table_name}")

        elif data =="3":
            new_Designation=input("enter Designation")
            name=input("enter new name")
            self.cursor.execute(f"UPDATE {self.table_name} SET designation = %s where fullname= %s",(new_Designation,name,))
            self.conn.commit()
            print(f"{new_Designation} updated in table{self.table_name}")

        elif data =="4":
            new_Experience=input("enter Experience")
            name=input("enter new name")
            self.cursor.execute(f"UPDATE {self.table_name} SET exp = %s where fullname= %s",(new_Experience,name,))
            self.conn.commit()
            print(f"{new_Experience} updated in table{self.table_name}")

c = Company()
while True:
    choice = input("""
    1. Signup
    2. Login
    3. Show all emp
    4. Update details
    5. Delete Employee
    6. Exit
    """)
    if choice == "1":
        c.signup()
    elif choice == "2":
        c.login()
    elif choice == "3":
        c.all_emp()
    elif choice == "4":
        c.update_data()
    elif choice == "5":
        c.delete_data()
    elif choice == "6":
        print("details dekh li ab ghar ja bhai")
        c.close_connection()
        break
    else:
        print("galt number dal dia yrr")

Enter database name:  company

Database created

enter table name empdata

Table bhi create ho gya bhai

    1. Signup
    2. Login
    3. Show all emp
    4. Update details
    5. Delete Employee
    6. Exit
     1
Enter your email id:  nishant@gmail.com
Enter password:  1111
Enter your full Name:  nishant
Enter your salary:  30000
Enter your designation:  da
Enter your experience:  1

account create ho gya h...

    1. Signup
    2. Login
    3. Show all emp
    4. Update details
    5. Delete Employee
    6. Exit
     3

('nishant@gmail.com', '1111', 'nishant', 30000.0, 'da', 1)

    1. Signup
    2. Login
    3. Show all emp
    4. Update details
    5. Delete Employee
    6. Exit
     6

details dekh li ab ghar ja bhai